client: algod
dataFolder: {{ .DataFolder }}
pidFile: {{ .PIDFile }}
tokenFile: {{ .TokenFile }}
logFile: {{ .LogFile }}
deployment: {{ .DeploymentType }}
containerRegex:{{ range .ContainerRegex }}
  - {{ . }}{{end}}
pefEndpoints:{{ range .PEFEndpoints }}
  - {{ . }}{{end}}
