client: {{ or .Client "flow-go" }}
nodeID: {{ .NodeID }}
envFile: {{ or .EnvFilePath "/etc/flow/runtime-conf.env" }}
pefEndpoints:{{ range .PEFEndpoints }}
  - URL: {{ .URL }}
    filters:{{range .Filters}}
      - {{ . }}{{end}}{{else}}
  - URL:
    filters:
      - network_engine_messages_handled_total
      - network_engine_messages_received_total
      - network_engine_messages_sent_total
      - network_gossip_dns_cache_hit_total
      - network_gossip_dns_cache_invalidation_total
      - network_gossip_dns_cache_miss_total
      - network_gossip_dns_lookup_duration_ms
      - network_gossip_dns_lookup_total
      - network_gossip_duplicate_messages_dropped
      - network_gossip_hotstuff_curview
      - network_gossip_inbound_message_size_bytes
      - network_gossip_node_reachable
      - network_gossip_outbound_message_size_bytes
      - network_gossip_sealed_height
      - network_queue_engine_message_processing_time_seconds
      - network_queue_inbound_connection_count
      - network_queue_message_queue_duration_seconds
      - network_queue_message_queue_size
      - network_queue_outbound_connection_count
      - network_queue_unstaked_inbound_connection_count
      - network_queue_unstaked_outbound_connection_count
      - consensus_compliance_committed_epoch_final_view
      - consensus_compliance_consensus_committee_block_proposal_duration_seconds_total
      - consensus_compliance_current_dkg_phase1_final_view
      - consensus_compliance_current_dkg_phase2_final_view
      - consensus_compliance_current_dkg_phase3_final_view
      - consensus_compliance_current_epoch_counter
      - consensus_compliance_current_epoch_final_view
      - consensus_compliance_current_epoch_phase
      - consensus_compliance_emergency_sealed_blocks_total
      - consensus_compliance_finalized_blocks_per_second
      - consensus_compliance_finalized_blocks_total
      - consensus_compliance_finalized_height
      - consensus_compliance_finalized_payload_total
      - consensus_compliance_sealed_blocks_total
      - consensus_compliance_sealed_height
      - consensus_compliance_sealed_payload_total
      - consensus_hotstuff_busy_duration_cseconds
      - consensus_hotstuff_committee_computations_cseconds
      - consensus_hotstuff_crypto_computations_cseconds
      - consensus_hotstuff_cur_view
      - consensus_hotstuff_idle_duration_cseconds
      - consensus_hotstuff_message_validation_cseconds
      - consensus_hotstuff_payload_production_cseconds
      - consensus_hotstuff_qc_view
      - consensus_hotstuff_skips_total
      - consensus_hotstuff_timeout_seconds
      - consensus_hotstuff_timeouts_total
      - consensus_hotstuff_wait_duration_cseconds
      - consensus_match_check_sealing_duration_s
      - consensus_match_check_sealing_duration_seconds_total
      - consensus_match_on_approval_duration_seconds_total
      - consensus_match_push_receipts_on_receipt_duration_seconds_total
      - execution_block_data_uploader_block_data_upload_duration_ms
      - execution_block_data_uploader_block_data_upload_in_progress
      - execution_ingestion_collection_requests_retries
      - execution_ingestion_collection_requests_sent
      - execution_ingestion_state_sync_active
      - execution_mtrie_average_proof_size
      - execution_mtrie_execution_state_disk_usage
      - execution_mtrie_forest_approx_memory_size
      - execution_mtrie_forest_number_of_trees
      - execution_mtrie_latest_trie_max_depth
      - execution_mtrie_latest_trie_max_depth_diff
      - execution_mtrie_latest_trie_reg_count
      - execution_mtrie_latest_trie_reg_count_diff
      - execution_mtrie_read_duration
      - execution_mtrie_read_duration_per_value
      - execution_mtrie_read_values_number
      - execution_mtrie_read_values_size
      - execution_mtrie_update_duration
      - execution_mtrie_update_duration_per_Value
      - execution_mtrie_update_values_number
      - execution_mtrie_update_values_size
      - execution_mtrie_updates_counted
      - execution_provider_chunk_data_packs_requested_total
      - execution_runtime_block_collection_counts
      - execution_runtime_block_computation_used
      - execution_runtime_block_execution_time_milliseconds
      - execution_runtime_block_execution_time_nanoseconds
      - execution_runtime_block_state_reads
      - execution_runtime_block_transaction_counts
      - execution_runtime_collection_computation_used
      - execution_runtime_collection_execution_time_milliseconds
      - execution_runtime_collection_execution_time_nanoseconds
      - execution_runtime_collection_transaction_counts
      - execution_runtime_last_executed_block_height
      - execution_runtime_last_executed_block_view
      - execution_runtime_number_of_accounts
      - execution_runtime_script_computation_used
      - execution_runtime_script_execution_time_milliseconds
      - execution_runtime_script_execution_time_nanoseconds
      - execution_runtime_total_executed_blocks
      - execution_runtime_total_executed_collections
      - execution_runtime_total_executed_scripts
      - execution_runtime_total_executed_transactions
      - execution_runtime_total_failed_transactions
      - execution_runtime_transaction_check_time_nanoseconds
      - execution_runtime_transaction_computation_used
      - execution_runtime_transaction_emitted_events
      - execution_runtime_transaction_execution_time_milliseconds
      - execution_runtime_transaction_execution_time_nanoseconds
      - execution_runtime_transaction_interpret_time_nanoseconds
      - execution_runtime_transaction_parse_time_nanoseconds
      - execution_runtime_used_gas
      - execution_state_storage_commitment_size_bytes
      - execution_state_storage_data_size_bytes
      - collection_ingested_transactions_total
      - collection_proposal_finalized_height
      - collection_proposal_guarantees_size_transactions
      - collection_proposal_proposals_size_transactions
      - verification_assigner_chunk_assigned_total
      - verification_assigner_finalized_height
      - verification_assigner_processed_chunk_sent_total
      - verification_assigner_received_result_total
      - verification_block_consumer_last_processed_block_job_index
      - verification_chunk_consumer_last_processed_chunk_job_index
      - verification_fetcher_assigned_chunk_received_total
      - verification_fetcher_chunk_data_pack_received_total
      - verification_fetcher_chunk_data_pack_requested_total
      - verification_fetcher_verifiable_chunk_sent_total
      - verification_finder_execution_receipt_received_total
      - verification_finder_execution_result_sent_total
      - verification_match_chunk_data_pack_received_total
      - verification_match_chunk_data_pack_requested_total
      - verification_match_execution_result_received_total
      - verification_match_verifiable_chunk_sent_total
      - verification_requester_chunk_data_pack_request_message_sent_total
      - verification_requester_chunk_data_pack_request_received_total
      - verification_requester_chunk_data_pack_sent_total
      - verification_requester_chunk_data_response_message_received_total
      - verification_requester_next_unsealed_height_max_chunk_data_pack_request_attempt_times
      - verification_storage_latest_chunk_size_bytes
      - verification_verifier_result_approvals_total
      - verification_verifier_verifiable_chunk_received_total
      - access_transaction_submission_transaction_submission
      - access_transaction_timing_time_to_executed_seconds
      - access_transaction_timing_time_to_finalized_executed_seconds
      - access_transaction_timing_time_to_finalized_seconds{{end}}
